/* src/components/footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container p {
  font-size: 16px;
}
